<h1><%=t 'employee.title' %></h1>

<table>
  <thead>
  <tr>
    <th><%= t 'employee.full_name' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.full_name %></td>
        <td><%= link_to t('employee.show'), employee %></td>
        <td><%= link_to t('employee.edit'), edit_employee_path(employee) %></td>
        <td><%= link_to t('employee.destroy'), employee, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('employee.new'), new_employee_path %>
