<h3><%= @employee.full_name %></h3>
<div class="content">
	<% if permitted? :employees, :edit %>
  	<%= link_to t('employee.edit'), edit_employee_path(@employee) %> 
  <% end -%>
  
  <% if permitted? :contracts, :new %>
  	<%= link_to t('employee.new_contract'), new_contract_path(
          employee_id:@employee.id,
          filtered:[:employee])%>
  <% end -%>
</div>
<div class="content">
<p>
  <strong><%= t 'employee.id'%>:</strong>
  <%= @employee.id %>
</p><br/>
<p>
  <strong><%= t 'employee.full_name'%>:</strong>
  <%= @employee.full_name %>
</p><br/>
<p>
<%= render 'contracts/list' %>
</p>
</div>