<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'employee.full_name'%>:</strong>
  <%= @employee.full_name %>
</p>

<%= link_to t('employee.edit'), edit_employee_path(@employee) %> |
<%= link_to t('back'), employees_path %>
