<h3><%=t('contract.new_title')%></h3>
<div class="content">
</div>
<%= render 'form' %>
<%unless filtered? :employee %>
    <br>
    <h4><%= t'employee.new_title'%></h4>
    <%= render 'employees/form'%>
<% end %>

<%unless filtered? :company %>
    <br>
    <h4><%= t'company.new_title'%></h4>
    <%= render 'companies/form'%>
<% end %>
