<h3><%= @user.email %></h3>
<div class="content">
	<% if permitted? :users, :edit, current_resource %>
  	<%= link_to t('user.edit'), edit_user_path(@user) %> |
  <% end -%>
  <%= link_to t('back'), users_path %>
</div>
<div class="content">
<p>
  <strong><%= t('user.email')%>:</strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= t('user.role')%>:</strong>
  <%= @user.role %>
</p>
</div>
