<h1><%= t 'property.title'%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('property.name')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @property_types.each do |property_type| %>
      <tr>
        <td><%= property_type.name %></td>
        <td><%= link_to t('property.show'), property_type %></td>
        <td><%= link_to t('property.edit'), edit_property_type_path(property_type) %></td>
        <td><%= link_to t('property.destroy'), property_type, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('property.new'), new_property_type_path %>
