<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'property.name'%>:</strong>
  <%= @property_type.name %>
</p>

<%= link_to t('property.edit'), edit_property_type_path(@property_type) %> |
<%= link_to t('back'), property_types_path %>
