<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id, t('company.id') %>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :vat, t('company.vat') %>
    <%= f.number_field :vat %>
  </div>
  <div class="field">
    <%= f.label :name, t('company.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :district, t('company.district') %>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :property_type_id, t('company.property_type') %>
    <%= f.select(:property_type_id, property_type_items ) %>
  </div>
  <%= hidden_field_tag :redirect, redirect_link%>
  <div class="actions">
    <%= f.submit t('company.update') %>
  </div>
<% end %>
