<h1><%= t('company.title')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('company.vat')%></th>
      <th><%= t('company.name')%></th>
      <th><%= t('company.district')%></th>
      <th><%= t('company.property_type')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.vat %></td>
        <td><%= company.name %></td>
        <td><%= company.district %></td>
        <td><%= company.property_type_id %></td>
        <td><%= link_to t('company.show'), company %></td>
        <td><%= link_to t('company.edit'), edit_company_path(company) %></td>
        <td><%= link_to t('company.destroy'), company, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('company.new'), new_company_path %>
