<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('company.vat')%>:</strong>
  <%= @company.vat %>
</p>

<p>
  <strong><%= t('company.name')%>:</strong>
  <%= @company.name %>
</p>

<p>
  <strong><%= t('company.district')%>:</strong>
  <%= @company.district %>
</p>

<p>
  <strong><%= t('company.property_type')%>:</strong>
  <%= @company.property_type_id %>
</p>

<%= link_to t('company.edit'), edit_company_path(@company) %> |
<%= link_to t('back'), companies_path %>
