<p>
  <strong><%= t('company.id')%>:</strong>
  <%= @company.id %>
</p>

<p>
  <strong><%= t('company.vat')%>:</strong>
  <%= @company.vat %>
</p>

<p>
  <strong><%= t('company.name')%>:</strong>
  <%= @company.name %>
</p>

<p>
  <strong><%= t('company.district')%>:</strong>
  <%= @company.district %>
</p>

<p>
  <strong><%= t('company.property_type')%>:</strong>
  <%= @company.property_type %>
</p>

<%= render 'contracts/list' %>

<%= link_to t('company.new_contract'), new_contract_path(
                                    contract:{company_id:@company.id},
                                    filtered:[:company])%>

<br>

<%= link_to t('company.edit'), edit_company_path(@company) %> |
<%= link_to t('back'), companies_path %>
