<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id, t('payment.company') %><br>
    <%= f.select :company_id, company_items %>
  </div>

  <div class="field">
    <%= f.label :employee_id, t('payment.employee') %><br>
    <%= f.select :employee_id, employee_items %>
  </div>

  <div class="field">
    <%= label :month, t('payment.month'), for: :payment_month%><br>
    <%= select_month(@payment.month, id: :month, field_name: :month, prefix: :payment) %>
  </div>

    <div class="field">
      <%= label :year, t('payment.year'), for: :payment_year %><br>
      <%= select_year(@payment.year, id: :year, field_name: :year, prefix: :payment) %>
    </div>

  <div class="field">
    <%= f.label :amount, t('payment.amount') %><br>
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit t('payment.update') %>
  </div>
<% end %>
