<h3><%=t('payment.title')%></h3>
<div class="content">
  <%= link_to t('payment.new'), new_payment_path %>
</div>
<table class="content-table">
  <thead>
    <tr>
      <th><%=t('payment.company')%></th>
      <th><%=t('payment.employee')%></th>
      <th><%=t('payment.year')%></th>
      <th><%=t('payment.month')%></th>
      <th><%=t('payment.amount')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr class="item-wrapper">
        <td><%= payment.company.name %></td>
        <td><%= payment.employee.full_name %></td>
        <td><%= payment.year %></td>
        <td><%= payment.month %></td>
        <td><%= payment.amount %></td>
        <td><%= link_to t('payment.show'), payment %></td>
        <td><%= link_to t('payment.edit'), edit_payment_path(payment) %></td>
        <td><%= link_to t('payment.destroy'), payment, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
