<h3><%=t('payment.title')%></h3>
<div class="content">
  <% if permitted? :payments, :new %>
    <%= link_to t('payment.new'), new_payment_path(payment: @current_params) %>
  <% end -%>
</div>

<!-- FILTERS-->
<%= form_tag payments_path, method: :get do %>

    <!--COMPANY FIELD-->
    <div class="field">
      <%= label_tag :company_id, t('payment.company_filter_value'), for: :company_id  %>
      <%= select_tag :company_id, options_from_collection_for_select(@companies, \
                     :id, :name, selected: params[:company_id]), id: :company_id %>
    </div>

    <!--EMPLOYEE FIELD-->
    <div class="field">
      <%= label_tag :employee_id, t('payment.employee_filter_value'), for: :employee_id  %>
      <%= select_tag :employee_id, options_from_collection_for_select(@employees, \
                     :id, :full_name, selected: params[:employee_id]), id: :employee_id %>
    </div>

    <!--DATE FIELDS-->
    <div class="field">
      <%= label :month, t('payment.month_filter_value'), for: :month%>
      <%= select_month(params[:month].to_i||DateTime.now, id: :month, prefix: 'month', discard_type: true) %>
    </div>

    <div class="field">
      <%= label :year, t('payment.year_filter_value'), for: :year %>
      <%= select_year(params[:year].to_i||DateTime.now, id: :year, prefix: 'year', discard_type: true) %>
    </div>

    <!--COMPANY CHECKBOX-->
    <div class="field">
      <%= label_tag :company_filter, t('payment.company_filter'), for: 'company_filter' %>
      <%= check_box_tag "filtered[]", 'company', filtered?(:company), id:'company_filter' %>
    </div>

    <!--EMPLOYEE CHECKBOX-->
    <div class="field">
      <%= label_tag :employee_filter, t('payment.employee_filter'), for: 'employee_filter' %>
      <%= check_box_tag "filtered[]", 'employee', filtered?(:employee), id:'employee_filter' %>
    </div>

    <!--DATE CHECKBOX-->
    <div class="field">
      <%= label_tag :date_filter, t('payment.date_filter'), for: 'date_filter' %>
      <%= check_box_tag "filtered[]", 'date', filtered?(:date), id:'date_filter' %>
    </div>

    <div class="actions">
      <%= submit_tag t('payment.apply_filter') %>
    </div>
<% end %>

<!--PAYMENT LIST-->
<table class="content-table">
  <thead>
    <tr>
      <th><%=t('payment.company')%></th>
      <th><%=t('payment.employee')%></th>
      <th><%=t('payment.year')%></th>
      <th><%=t('payment.month')%></th>
      <th><%=t('payment.amount')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr class="item-wrapper">
        <td><%= payment.company.name %></td>
        <td><%= payment.employee.full_name %></td>
        <td><%= payment.year %></td>
        <td><%= payment.month %></td>
        <td><%= payment.amount %></td>

        <% if permitted? :payments, :show %>
          <td><%= link_to t('payment.show'), payment %></td>
        <% end -%>

        <% if permitted? :payments, :edit %>
          <td><%= link_to t('payment.edit'), edit_payment_path(payment) %></td>
        <% end -%>

        <% if permitted? :payments, :destroy %>
          <td><%= link_to t('payment.destroy'), payment, \
                        method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end -%>

      </tr>
    <% end %>
  </tbody>
</table>
