<h3><%= @payment.company %></h3>
<div class="content">
  <% if permitted? :payments, :edit %>
    <%= link_to t('payment.edit'), edit_payment_path(@payment) %> |
  <% end -%>
  <%= link_to t('back'), payments_path %>
</div>
<p>
  <strong><%=t('payment.company')%>:</strong>
  <%= @payment.company %>
</p>

<p>
  <strong><%=t('payment.employee')%>:</strong>
  <%= @payment.employee %>
</p>

<p>
  <strong><%=t('payment.date')%>:</strong>
  <%= t('date.month_names')[@payment.month || 0].to_s+' '+(@payment.year || '').to_s %>
</p>

<p>
  <strong><%=t('payment.amount')%>:</strong>
  <%= @payment.amount %>
</p>
