<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id, t('transfer.company') %>
    <%= f.select(:company_id, company_items ) %>
  </div>
  <div class="field">
    <%= f.label :transfer_date, t('transfer.transfer_date') %>
    <%= f.date_select :transfer_date %>
  </div>
  <div class="field">
    <%= f.label :amount, t('transfer.amount') %>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= label :month, t('transfer.month'), for: :transfer_month%>
    <%= select_month(@transfer.month, id: :month, field_name: :month, prefix: :transfer) %>
  </div>
  <div class="field">
    <%= label :year, t('transfer.year'), for: :transfer_year %>
    <%= select_year(@transfer.year, id: :year, field_name: :year, prefix: :transfer) %>
  </div>
  <%= hidden_field_tag :redirect, redirect%>
  <div class="actions">
    <%= f.submit t('transfer.update') %>
  </div>
<% end %>
