<h3><%= t('transfer.title')%></h3>
<div class="content">
  <%= link_to t('transfer.new'), new_transfer_path %>
</div>
<table class="content-table">
  <thead>
    <tr>
      <th><%= t('transfer.company')%></th>
      <th><%= t('transfer.transfer_date')%></th>
      <th><%= t('transfer.amount')%></th>
      <th><%= t('transfer.month')%></th>
      <th><%= t('transfer.year')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr class="item-wrapper">
        <td><%= transfer.company %></td>
        <td><%= transfer.transfer_date %></td>
        <td><%= transfer.amount %></td>
        <td><%= transfer.month %></td>
        <td><%= transfer.year %></td>
        <td><%= link_to t('transfer.show'), transfer %></td>
        <td><%= link_to t('transfer.edit'), edit_transfer_path(transfer) %></td>
        <td><%= link_to t('transfer.destroy'), transfer, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
