<p>
  <strong><%= t('transfer.company')%>:</strong>
  <%= @transfer.company %>
</p>

<p>
  <strong><%= t('transfer.transfer_date')%>:</strong>
  <%= @transfer.transfer_date %>
</p>

<p>
  <strong><%= t('transfer.amount')%>:</strong>
  <%= @transfer.amount %>
</p>

<p>
  <strong><%=t('transfer.date')%>:</strong>
  <%= (t('date.month_names')[@transfer.month || 0]).to_s+' '+(@transfer.year || '').to_s %>
</p>

<%= link_to t('transfer.edit'), edit_transfer_path(@transfer) %> |
<%= link_to t('back'), transfers_path %>
