<h3><%= t('position.title')%></h3>
<div class="content">
  <% if permitted? :job_positions, :new %>
    <%= link_to t('position.new'), new_job_position_path %>
  <% end -%>
</div>
<table class="content-table">
  <thead>
    <tr>
      <th><%= t('position.name')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_positions.each do |job_position| %>
      <tr class="item-wrapper">
        <td><%= job_position.name %></td>
        <% if permitted? :job_positions, :show %>
          <td><%= link_to t('position.show'), job_position %></td>
        <% end -%>
        
        <% if permitted? :job_positions, :edit %>
          <td><%= link_to t('position.edit'), edit_job_position_path(job_position) %></td>
        <% end -%>

        <% if permitted? :job_positions, :destroy %>
          <td><%= link_to t('position.destroy'), job_position, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
