<h3><%= @job_position.name %></h3>
<div class="content">
  <%= link_to t('position.edit'), edit_job_position_path(@job_position) %> |
  <%= link_to t('back'), job_positions_path %>
</div>
<div class="content">
<p>
  <strong><%= t('position.name')%>:</strong>
  <%= @job_position.name %>
</p>
</div>
