<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('position.name')%>:</strong>
  <%= @job_position.name %>
</p>

<%= link_to t('position.edit'), edit_job_position_path(@job_position) %> |
<%= link_to t('back'), job_positions_path %>
