<footer>
  <div class="keeper">
    <div class="left">
      <%= raw t 'footer.about' %>
    </div>
    <div class="left offset100">
      <%= raw t 'footer.versions' %>:
      <%= link_to t('menu.ru'), url_for(locale: 'ru') %>
      <%= link_to t('menu.en'), url_for(locale: 'en') %>
    </div>
    <div class="right">
      <%= raw t 'footer.authors' %>
    </div>
  </div>
</footer>